<nav class="nav d-flex is-between">
  <div class="nav-logo center-block">
    <img src="../../assets/images/logo.png" alt="Smoothie logo" />
    <span class="white">Fresh Smoothies</span>
  </div>
  <div class="end center-block">
    <input type="checkbox" id="hide-menu">
    <label for="hide-menu">&#8667;</label>
    <ul class="center-block">
      <li class="nav-item"><a routerLink="" class="nav-link">Products</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">Contact</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">Account</a></li>
    </ul>
    <img src="" alt="" class="nav-cart" />
  </div>
</nav>
