<nav class="nav is-between">
  <div class="nav-logo center-block">
    <img src="" alt="" />
    <span class="white">Fresh Smoothies</span>
  </div>
  <div class="end">
    <ul class="center-block">
      <li class="nav-item"><a routerLink="" class="nav-link">Products</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">Contact</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">Account</a></li>
    </ul>
    <img src="" alt="" class="nav-cart" />
  </div>
</nav>
