.main {
  &.fraise {
    --main-color: #f25c37;
    --secondary-color: #ff8976;
    --primary-color: #ffa387;
  }
  &.banane {
    --main-color: #fbb000;
    --secondary-color: #fff394;
    --primary-color: #ffeccc;
  }
  &.raisin {
    --main-color: #2d2957;
    --secondary-color: #d8cfff;
    --primary-color: #dfd8ff;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "acme";
  src: url(./assets/fonts/Acme-Regular.ttf);
}
body {
  font-family: "acme";
}
.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
.is-between {
  justify-content: space-between;
  align-items: center;
}
.white {
  color: #ffffff;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
