<main class="main fraise">
  <div class="home">
    <app-header />
    <div class="content">
      <div class="content-left">
        <div class="title">
          <h1 class="white"><span>Smo</span><span class="left">othie</span></h1>
          <h1 class="white">
            <span>{{ allProducts[0].name }}</span>
          </h1>
        </div>
        <p class="white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab
          iure error deserunt distinctio possimus numquam assumenda eius nihil
          aliquam veniam culpa modi doloribus expedita voluptates odit quae.
          Soluta, deleniti.
        </p>
      </div>
      <div class="content-right"></div>
    </div>
    <div class="shape">
      <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="#ffffff"
          d="M19.5,-39.5C25.7,-30.2,31.6,-25.9,39.1,-20.2C46.6,-14.4,55.8,-7.2,62.8,4.1C69.9,15.4,74.9,30.8,67.7,37.1C60.6,43.4,41.3,40.7,28,45.3C14.6,49.8,7.3,61.5,-4.1,68.7C-15.6,75.9,-31.2,78.5,-38.7,70.6C-46.2,62.7,-45.5,44.3,-46.9,30.8C-48.4,17.3,-51.9,8.6,-54.7,-1.6C-57.4,-11.8,-59.4,-23.6,-54.1,-30.5C-48.8,-37.4,-36.3,-39.3,-26.1,-46.4C-15.9,-53.4,-7.9,-65.5,-0.7,-64.3C6.6,-63.2,13.2,-48.8,19.5,-39.5Z"
          transform="translate(100 100)"
        />
      </svg>
    </div>
    <div class="circle"></div>
  </div>
</main>
